$bg-color : #B6A2D7;
$text-color : #1E1926 ;
$bg-code-color : #362B48;
$header-color : #0000FF;
body{
    color : $text-color;
    background-color: $bg-color;
}
h1{
    color: $header-color;
}
p.code {
    color: $bg-color;
    font-style: italic;
    background-color: $bg-code-color
}
p.disclaimer {
    color: $bg-code-color;
    font-style: italic;
}